In [2]:
import pandas as pd

In [3]:
import json
import folium
from folium import plugins
import geopandas as gpd
import matplotlib.pyplot as plt

/opt/app-root/lib/python3.6/site-packages/geopandas/_compat.py:110: UserWarning: The Shapely GEOS version (3.8.0-CAPI-1.13.1 ) is incompatible with the GEOS version PyGEOS was compiled with (3.9.0-CAPI-1.16.2). Conversions between both will be slow.
  shapely_geos_version, geos_capi_version_string

In [4]:
four = pd.read_csv('4.김해시_112신고이력(격자매핑).csv')

In [5]:
four = four.groupby('gid').count()

In [6]:
four = four.drop(labels=['case_type','rec_time'],axis=1)

In [7]:
four.head() # 112신고이력

          rec_date
gid
마라095998         6
마라095999         4
마라096987         7
마라096988        47
마라097987         7

In [8]:
four['four']=four['rec_date']

In [9]:
four = four.drop(['rec_date'],axis=1)

In [10]:
six = pd.read_csv('sumin.csv')

In [11]:
six.head() # 보안등

        gid  NUMPOINTS
0  마라231909          2
1  마라154986          0
2  마라213944          0
3  마마105025          0
4  마라202940          2

In [12]:
six['six']=six['NUMPOINTS']

In [13]:
six = six.drop(['NUMPOINTS'],axis=1)

In [14]:
seven = pd.read_csv('seven1.csv')

In [15]:
seven.head() #안전비상벨

        gid  seven
0  마라231909      0
1  마라154986      0
2  마라213944      0
3  마마105025      1
4  마라202940      0

In [16]:
ten = gpd.read_file('10.김해시_성연령별_거주인구격자.geojson', encoding='utf-8')

In [17]:
ten.head()

,gid,2018_m_0g_pop,2018_w_0g_pop,2018_m_20g_pop,2018_w_20g_pop,2018_m_30g_pop,2018_w_30g_pop,2018_m_40g_pop,2018_w_40g_pop,2018_m_50g_pop,...,2021_w_30g_pop,2021_m_40g_pop,2021_w_40g_pop,2021_m_50g_pop,2021_w_50g_pop,2021_m_60g_pop,2021_w_60g_pop,2021_m_70g_pop,2021_w_70g_pop,geometry
0,마라094999,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,"POLYGON ((128.70309 35.28863, 128.70311 35.289..."
1,마라095991,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,"POLYGON ((128.70409 35.28140, 128.70410 35.282..."
2,마라095992,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,"POLYGON ((128.70410 35.28231, 128.70411 35.283..."
3,마라095993,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,"POLYGON ((128.70411 35.28321, 128.70413 35.284..."
4,마라095994,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,"POLYGON ((128.70413 35.28411, 128.70414 35.285..."

In [18]:
ten1 = ten[['2018_m_0g_pop','2018_w_0g_pop','2018_m_20g_pop','2018_w_20g_pop','2018_m_30g_pop','2018_w_30g_pop','2018_m_40g_pop','2018_w_40g_pop','2018_m_50g_pop','2018_w_50g_pop','2018_m_60g_pop','2018_w_60g_pop','2018_m_70g_pop','2018_w_70g_pop']]
ten2 = ten[['2019_m_0g_pop','2019_w_0g_pop','2019_m_20g_pop','2019_w_20g_pop','2019_m_30g_pop','2019_w_30g_pop','2019_m_40g_pop','2019_w_40g_pop','2019_m_50g_pop','2019_w_50g_pop','2019_m_60g_pop','2019_w_60g_pop','2019_m_70g_pop','2019_w_70g_pop']]
ten3 = ten[['2020_m_0g_pop','2020_w_0g_pop','2020_m_20g_pop','2020_w_20g_pop','2020_m_30g_pop','2020_w_30g_pop','2020_m_40g_pop','2020_w_40g_pop','2020_m_50g_pop','2020_w_50g_pop','2020_m_60g_pop','2020_w_60g_pop','2020_m_70g_pop','2020_w_70g_pop']]
ten4 = ten[['2021_m_0g_pop','2021_w_0g_pop','2021_m_20g_pop','2021_w_20g_pop','2021_m_30g_pop','2021_w_30g_pop','2021_m_40g_pop','2021_w_40g_pop','2021_m_50g_pop','2021_w_50g_pop','2021_m_60g_pop','2021_w_60g_pop','2021_m_70g_pop','2021_w_70g_pop']]

In [19]:
ten = ten.drop(['2018_m_0g_pop','2018_w_0g_pop','2018_m_20g_pop','2018_w_20g_pop','2018_m_30g_pop','2018_w_30g_pop','2018_m_40g_pop','2018_w_40g_pop','2018_m_50g_pop','2018_w_50g_pop','2018_m_60g_pop','2018_w_60g_pop','2018_m_70g_pop','2018_w_70g_pop','2019_m_0g_pop','2019_w_0g_pop','2019_m_20g_pop','2019_w_20g_pop','2019_m_30g_pop','2019_w_30g_pop','2019_m_40g_pop','2019_w_40g_pop','2019_m_50g_pop','2019_w_50g_pop','2019_m_60g_pop','2019_w_60g_pop','2019_m_70g_pop','2019_w_70g_pop','2020_m_0g_pop','2020_w_0g_pop','2020_m_20g_pop','2020_w_20g_pop','2020_m_30g_pop','2020_w_30g_pop','2020_m_40g_pop','2020_w_40g_pop','2020_m_50g_pop','2020_w_50g_pop','2020_m_60g_pop','2020_w_60g_pop','2020_m_70g_pop','2020_w_70g_pop','2021_m_0g_pop','2021_w_0g_pop','2021_m_20g_pop','2021_w_20g_pop','2021_m_30g_pop','2021_w_30g_pop','2021_m_40g_pop','2021_w_40g_pop','2021_m_50g_pop','2021_w_50g_pop','2021_m_60g_pop','2021_w_60g_pop','2021_m_70g_pop','2021_w_70g_pop'], axis=1)

In [20]:
ten['2018']=ten1.sum(axis=1)
ten['2019']=ten2.sum(axis=1)
ten['2020']=ten3.sum(axis=1)
ten['2021']=ten4.sum(axis=1)

In [21]:
ten.head() # 인구

,gid,geometry,2018,2019,2020,2021
0,마라094999,"POLYGON ((128.70309 35.28863, 128.70311 35.289...",0,0,0,0
1,마라095991,"POLYGON ((128.70409 35.28140, 128.70410 35.282...",0,0,0,0
2,마라095992,"POLYGON ((128.70410 35.28231, 128.70411 35.283...",0,0,0,0
3,마라095993,"POLYGON ((128.70411 35.28321, 128.70413 35.284...",0,0,0,0
4,마라095994,"POLYGON ((128.70413 35.28411, 128.70414 35.285...",0,0,0,0

In [22]:
ten = ten.drop(['geometry'],axis=1)

In [23]:
seventeen = pd.read_csv('seventeen.csv')

In [24]:
seventeen.head() # 어린이집

        gid  seventeen
0  마라231909          0
1  마라154986          0
2  마라213944          0
3  마마105025          0
4  마라202940          0

In [25]:
eighteen = pd.read_csv('eighteen.csv')

In [26]:
eighteen.head() # 유치원

        gid  eighteen
0  마라231909         0
1  마라154986         0
2  마라213944         0
3  마마105025         0
4  마라202940         0

In [27]:
nineteen = pd.read_csv('nineteen.csv')

In [28]:
nineteen.head() # 학교(초,중,고)

        gid  nineteen
0  마라231909         0
1  마라154986         0
2  마라213944         0
3  마마105025         0
4  마라202940         0

In [29]:
twenty = pd.read_csv('twenty1.csv')

In [30]:
twenty.head() # 치안유관업종

        gid  NUMPOINTS
0  마라231909          0
1  마라154986          0
2  마라213944          0
3  마마105025          0
4  마라202940          1

In [31]:
twenty['twenty']=twenty['NUMPOINTS']

In [32]:
twenty = twenty.drop(['NUMPOINTS'],axis=1)

In [33]:
twentyone = pd.read_csv('twentyone.csv')

In [34]:
twentyone.head() # 아동안전지킴이집

        gid  twentyone
0  마라231909          0
1  마라154986          0
2  마라213944          0
3  마마105025          0
4  마라202940          0

In [35]:
five = gpd.read_file('5.김해시_격자(100X100).geojson', encoding='utf-8')

In [36]:
result = pd.merge(five, four, on="gid",how="left")

In [37]:
result = pd.merge(result, six, on="gid",how="left")

In [38]:
result = pd.merge(result, seven, on="gid",how="left")

In [39]:
result = pd.merge(result, ten, on="gid",how="left")

In [40]:
result = pd.merge(result, seventeen, on="gid",how="left")

In [41]:
result = pd.merge(result, eighteen, on="gid",how="left")

In [42]:
result = pd.merge(result, nineteen, on="gid",how="left")

In [43]:
result = pd.merge(result, twenty, on="gid",how="left")

In [44]:
result = pd.merge(result, twentyone, on="gid",how="left")

In [45]:
result.head()

,gid,geometry,four,six,seven,2018,2019,2020,2021,seventeen,eighteen,nineteen,twenty,twentyone
0,마라231909,"MULTIPOLYGON (((128.85237 35.20590, 128.85239 ...",10.0,2,0,0,0,0,0,0,0,0,0,0
1,마라154986,"MULTIPOLYGON (((128.76888 35.27623, 128.76889 ...",NaN,0,0,0,0,0,0,0,0,0,0,0
2,마라213944,"MULTIPOLYGON (((128.83312 35.23767, 128.83313 ...",9.0,0,0,0,0,0,0,0,0,0,0,0
3,마마105025,"MULTIPOLYGON (((128.71554 35.31194, 128.71555 ...",NaN,0,1,0,0,0,0,0,0,0,0,0
4,마라202940,"MULTIPOLYGON (((128.82097 35.23420, 128.82099 ...",48.0,2,0,0,0,0,0,0,0,0,1,0

In [100]:
result.to_csv('result.csv',index=False)

In [46]:
cctv = pd.read_csv('cctv3.csv')

In [47]:
cctv.head()

        gid  cctv
0  마라231909     0
1  마라154986     0
2  마라213944     0
3  마마105025     3
4  마라202940     0

In [48]:
two = pd.read_csv('two.csv')

In [59]:
two.head() #주차장

        gid  two
0  마라231909    0
1  마라154986    0
2  마라213944    0
3  마마105025    0
4  마라202940    0

In [50]:
two['two']=two['five']

In [51]:
two = two.drop(['five'],axis=1)

In [53]:
result = pd.merge(result, two, on="gid",how="left")

In [54]:
result = pd.merge(result, cctv, on="gid",how="left")

In [60]:
result.head()

,gid,geometry,four,six,seven,2018,2019,2020,2021,seventeen,eighteen,nineteen,twenty,twentyone,two,cctv
0,마라231909,"MULTIPOLYGON (((128.85237 35.20590, 128.85239 ...",10.0,2,0,0,0,0,0,0,0,0,0,0,0,0
1,마라154986,"MULTIPOLYGON (((128.76888 35.27623, 128.76889 ...",0.0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,마라213944,"MULTIPOLYGON (((128.83312 35.23767, 128.83313 ...",9.0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,마마105025,"MULTIPOLYGON (((128.71554 35.31194, 128.71555 ...",0.0,0,1,0,0,0,0,0,0,0,0,0,0,3
4,마라202940,"MULTIPOLYGON (((128.82097 35.23420, 128.82099 ...",48.0,2,0,0,0,0,0,0,0,0,1,0,0,0

In [56]:
result = result.fillna(0)

In [58]:
result.to_csv('result.csv',index=False)